body {
    background-color:#ff3377;
}

.forgive{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    color:#3cf5de;
    background-color:#6666ff;
    font-size:25px;
    margin:10px;
    padding:10px;
    width:150;
    border:5px dashed #ccffcc;
    border-radius:10px;
    overflow: scroll;
}

#forgive{
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    color:#fafafa;
    background-color:black;
    font-size:30px;
    margin:10px;
    padding:10px;
    width:400;
    height:130px;
    border:5px inset  #afbfff;
    border-radius:10px;
}
